In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/nagarjuna843/Adaboost/main/income.csv')
df.head()

   age  fnlwgt     education  ...  capital_loss  hours_per_week  income
0   90   77053       HS-grad  ...          4356              40       0
1   82  132870       HS-grad  ...          4356              18       0
2   66  186061  Some-college  ...          4356              40       0
3   54  140359       7th-8th  ...          3900              40       0
4   41  264663  Some-college  ...          3900              40       0

[5 rows x 8 columns]

In [3]:
inputs=df.drop(['education','income'],axis='columns')
target=df['income']

In [4]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [5]:
adaboost=AdaBoostClassifier(n_estimators=3,learning_rate=1.0)
model=adaboost.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [6]:
output=pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
output

      y_test  y_pred
659        1       1
4655       0       0
376        1       1
518        0       1
3074       1       0
...      ...     ...
3298       1       0
2248       1       1
1493       1       0
4105       0       0
3461       0       0

[1000 rows x 2 columns]

In [7]:
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.826

In [8]:
feature_importance=pd.DataFrame(model.feature_importances_,inputs.columns,columns=['Importance'])
feature_importance.sort_values('Importance',ascending=False)

                Importance
education_num     0.333333
capital_gain      0.333333
capital_loss      0.333333
age               0.000000
fnlwgt            0.000000
hours_per_week    0.000000

In [9]:
from sklearn.linear_model import LogisticRegression
logistic_model=LogisticRegression()
adaboost_1=AdaBoostClassifier(n_estimators=100,base_estimator=logistic_model,learning_rate=1)

In [10]:
model=adaboost_1.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [11]:
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.734